<nav class='blue darken-2'>
  <div class='nav-wrapper'>
    <ul class='right'>
      <li><a href='/'>Home</a></li>
      <li><a href='/help'>Help</a></li>
      <li><a href='/sign_up'>Sign Up</a></li>
      <li><a href='/login'>Login</a></li>
    </ul>
    <ul class='left'>
      <li><a href='/signboards'>Billboards</a></li>
    </ul>
  </div>
</nav>
